body {
  font-family: 'Arimo', serif!important;
  /* background-image: url("../img/banner.jpg");
  background-size:cover;
  height: 100vh; */
}



.main-navigation {
  float: right;
  
}

.jumbotron{
  background-image: url("../img/banner.jpg");
  background-size:cover;
  height: 100vh;
}


#votingPage{
  margin-top:95px;
}

#voteme-card{
  -webkit-box-shadow: 3px 10px 44px 0px rgba(222,222,222,1);
  -moz-box-shadow: 3px 10px 44px 0px rgba(222,222,222,1);
  box-shadow: 3px 10px 44px 0px rgba(222,222,222,1);
  margin: 0px auto!important;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}